<h1> IS362 Week 5 airports </h1> 
<h2>In order to see where in Carmen Sandiego these airports are I used ArcGIS from another class:
    https://www.arcgis.com/apps/mapviewer/index.html?webmap=727d713c490a4a468bba270b228136a7 

<h3> First print description of the map and a plot</h3>

In [3]:
import pandas as pd
#Load CSV file. Use "r" for raw in front of CSV file directory.
airports = r"C:\Users\turin\Downloads\airports.csv"
#load the csv file in data frame
df= pd.read_csv(airports)
#See the airports with the top ten altitudes.
print("SUMMARY", df.describe())
print("TOP TEN ALTITUDE",df.nlargest(10,'alt'))
print("TIMEZONE",df.sort_values(by='tz') )

SUMMARY                lat          lon          alt           tz
count  1458.000000  1458.000000  1458.000000  1458.000000
mean     41.648008  -103.392289  1001.415638    -6.518519
std      10.449509    29.843118  1523.626105     1.623016
min      19.721375  -176.646000   -54.000000   -10.000000
25%      34.257539  -119.185652    70.250000    -8.000000
50%      40.087722   -94.661854   473.000000    -6.000000
75%      45.067150   -82.516717  1062.500000    -5.000000
max      72.270833   174.113620  9078.000000     8.000000
TOP TEN ALTITUDE       faa                              name        lat         lon   alt  tz  \
1304  TEX                         Telluride  37.953759 -107.908480  9078  -7
1340  TVL                Lake Tahoe Airport  38.893889 -119.995278  8544  -8
149   ASE   Aspen Pitkin County Sardy Field  39.223200 -106.869000  7820  -7
568   GUC          Gunnison - Crested Butte  38.533889 -106.933056  7678  -7
173   BCE                      Bryce Canyon  37.706444 -112.145806  7590  -7
122   ALS  San Luis Valley Regional Airport  37.435000 -105.866667  7539  -7
767   LAR          Laramie Regional Airport  41.312100 -105.675000  7284  -7
765   LAM                Los Alamos Airport  35.879802 -106.269415  7171  -7
456   EVW       Evanston-Uinta CO Burns Fld  41.164900 -111.020800  7143  -7
897   MMH          Mammoth Yosemite Airport  37.624049 -118.837772  7128  -8

     dst                tzone
1304   A       America/Denver
1340   A  America/Los_Angeles
149    A       America/Denver
568    A       America/Denver
173    A       America/Denver
122    A       America/Denver
767    A       America/Denver
765    A       America/Denver
456    A       America/Denver
897    A  America/Los_Angeles
TIMEZONE       faa                           name        lat         lon   alt  tz dst  \
794   LIH                          Lihue  21.975983 -159.338958   153 -10   N
1403  WKL              Waikoloa Heliport  19.913600 -155.864000   109 -10   N
587   HHI                    Wheeler Aaf  21.483500 -158.039667   837 -10   A
231   BSF                   Bradshaw Aaf  19.760056 -155.553717  6190 -10   A
884   MKK                        Molokai  21.152886 -157.096256   454 -10   N
...   ...                            ...        ...         ...   ...  ..  ..
683   IZG        Eastern Slopes Regional  43.991139  -70.947889   455  -5   A
658   ILN    Wilmington Airborne Airpark  39.427920  -83.792118  1077  -5   U
1457  ZYP                   Penn Station  40.750500  -73.993500    35  -5   A
942   MYF               Montgomery Field  32.475900  117.759000    17   8   A
396   DVT  Deer Valley Municipal Airport  33.411700  112.457000  1478   8   A

                 tzone
794   Pacific/Honolulu
1403  Pacific/Honolulu
587   Pacific/Honolulu
231   Pacific/Honolulu
884   Pacific/Honolulu
...                ...
683   America/New_York
658   America/New_York
1457  America/New_York
942     Asia/Chongqing
396     Asia/Chongqing

[1458 rows x 8 columns]

<h1>  What is the northernmost airport in the United States?</h1>
<h2> Referencing the map its in Alaska:  https://www.arcgis.com/apps/mapviewer/index.html?webmap=727d713c490a4a468bba270b228136a7 </h2>
   <h3> first categorize by time zone to filter for airports in Anchorage Tzone.</h3>

In [16]:
df.groupby(['tz','tzone']).agg({'tzone':'count'})

                         tzone
tz  tzone
-10 Pacific/Honolulu        18
-9  America/Anchorage      239
-8  America/Los_Angeles    176
    America/Vancouver        2
-7  America/Denver         119
    America/Phoenix         38
-6  America/Chicago        342
-5  America/New_York       519
 8  Asia/Chongqing           2

In [21]:
#Show airports in Alaska Time zone
df.loc[(df['tz'] == -9)].nlargest(10,'lat')

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
1363,UUK,Ugnu-Kuparuk Airport,70.330833,-149.597500,67,-9,A,America/Anchorage
982,NUI,Nuiqsut Airport,70.210000,-151.005556,38,-9,A,America/Anchorage
1197,SCC,Deadhorse,70.194750,-148.465167,64,-9,A,America/Anchorage
232,BTI,Barter Island Lrrs,70.133989,-143.581867,2,-9,A,America/Anchorage
1084,PIZ,Point Lay Lrrs,69.732875,-163.005342,25,-9,A,America/Anchorage
824,LUR,Cape Lisburne Lrrs,68.875133,-166.110022,12,-9,A,America/Anchorage

<h1> The Northernmost airport in the US is Wiley Post Will Rogers Mem </h1>

<h4> Note just using the .nlargest for 'lat' does not show this result (Dillant Hopkins airport) But using the map and time zone filter shows the northern most airport. ANother way to find this is using standard deviation to note that largest latitude may not mean northern most airport in the US </h4>

In [32]:
#Show northern most airport 
df.loc[(df['tz'] == -9)].nlargest(1,'lat')

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage

<h1> What is the Easternmost airport in the US</h1> 

<h3> It is debatable what is meant easternmost airport in United States in reference to what?</h3> 

While North has the north pole and south the south pole, east and west depends on what latitude and longitude is defined as the center of reference. Since the question states center of the United States, the assumption is the center of the United States is the referenced base map, and not the global map.

In [27]:
#The center of the United States map is 39.82844474413941, -98.57855702371702 (Per Google Maps.)
#Eastward of this point is going to the East Coast. This can be found in tz =-5.  
df.loc[((df['lon'] <= -50) & (df['lon'] > -69)&(df['tz']==-5))]

,faa,name,lat,lon,alt,tz,dst,tzone
191,BGR,Bangor Intl,44.807444,-68.828139,192,-5,A,America/New_York
192,BHB,Hancock County - Bar Harbor,44.449769,-68.361565,83,-5,A,America/New_York
259,CAR,Caribou Muni,46.871500,-68.017917,626,-5,A,America/New_York
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5,A,America/New_York
856,ME5,Banks Airport,44.165389,-68.428167,100,-5,A,America/New_York
894,MLT,Millinocket Muni,45.647836,-68.685561,408,-5,A,America/New_York
1101,PQI,Northern Maine Rgnl At Presque Isle,46.688958,-68.044797,534,-5,A,America/New_York
1398,WFK,Northern Aroostook Regional Airport,47.285556,-68.312778,988,-5,A,America/New_York

<h1> Eastport Municipal Airport is the Easternmost airport in the US.</h1>

As before just using the nlargest won't work. And exploring the ranges of latitude and longitude to find the East coast of the United States using the lat 39 and lon-98 as the center point of reference. (Assuming only the US map is being looked at, not worldwide.)

We find the East coast of the US in terms of ranges for latitude and longitude. This can be easily found using tzone as America/New York. Then find the largest longitude in this subset to find the easternmost airport.

In [29]:
df.loc[((df['lon'] <= -50) & (df['lon'] > -69)&(df['tz']==-5))].nlargest(1,'lon')

,faa,name,lat,lon,alt,tz,dst,tzone
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

<h1> On February 12th, 2013, which New York area airport had the windiest weather?</h1>

In [53]:
#Load the weather CSV file.
weather = r"C:\Users\turin\Downloads\weather.csv"
wdf= pd.read_csv(weather)
#Explore the connection of weather and airports dataframes.
#print(wdf.head(),df.head())
wdf.groupby(['origin']).count()

,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
origin,,,,,,,,,,,,,,
EWR,8703,8703,8703,8703,8702,8702,8702,8447,8702,1802,8703,7768,8703,8703
JFK,8706,8706,8706,8706,8706,8706,8706,8655,8703,1507,8706,7875,8706,8706
LGA,8706,8706,8706,8706,8706,8706,8706,8553,8706,2028,8706,7743,8706,8706

In [89]:
#The only matching column is origin from Weather table and faa from airports table.
#Since weather.csv only has NYC airports, filter airports to show only these airports.
nyairports= df.query('faa == ["EWR", "JFK", "LGA"]') 
#use merge to combine the airports and weather table
wdf.rename(columns = {'origin ':'faa'}, inplace = True)
#This took a long time and lot of adjustments to get working.
weatherairports= wdf.merge(nyairports, left_on='origin',right_on='faa')
weatherairports.groupby(['origin']).count()

,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,...,visib,time_hour,faa,name,lat,lon,alt,tz,dst,tzone
origin,,,,,,,,,,,,,,,,,,,,,
EWR,8703,8703,8703,8703,8702,8702,8702,8447,8702,1802,...,8703,8703,8703,8703,8703,8703,8703,8703,8703,8703
JFK,8706,8706,8706,8706,8706,8706,8706,8655,8703,1507,...,8706,8706,8706,8706,8706,8706,8706,8706,8706,8706
LGA,8706,8706,8706,8706,8706,8706,8706,8553,8706,2028,...,8706,8706,8706,8706,8706,8706,8706,8706,8706,8706

In [96]:
#Find the weather at the three airports (EWR, JFK, LGA) on the date of February 12, 2013.
windynyc=weatherairports.loc[(weatherairports['month']==2) & (weatherairports['day']==12) & (weatherairports['year']==2013)]
windynyc

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,...,visib,time_hour,faa,name,lat,lon,alt,tz,dst,tzone
1006,EWR,2013,2,12,0,39.92,39.02,96.55,240.0,6.90468,...,10.0,2013-02-12T05:00:00Z,EWR,Newark Liberty Intl,40.692500,-74.168667,18,-5,A,America/New_York
1007,EWR,2013,2,12,1,39.92,37.94,92.56,250.0,9.20624,...,10.0,2013-02-12T06:00:00Z,EWR,Newark Liberty Intl,40.692500,-74.168667,18,-5,A,America/New_York
1008,EWR,2013,2,12,2,39.92,28.04,62.21,270.0,20.71404,...,10.0,2013-02-12T07:00:00Z,EWR,Newark Liberty Intl,40.692500,-74.168667,18,-5,A,America/New_York
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,...,10.0,2013-02-12T08:00:00Z,EWR,Newark Liberty Intl,40.692500,-74.168667,18,-5,A,America/New_York
1010,EWR,2013,2,12,4,39.02,26.96,64.29,280.0,12.65858,...,10.0,2013-02-12T09:00:00Z,EWR,Newark Liberty Intl,40.692500,-74.168667,18,-5,A,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18434,LGA,2013,2,12,19,41.00,21.92,46.23,260.0,14.96014,...,10.0,2013-02-13T00:00:00Z,LGA,La Guardia,40.777245,-73.872608,22,-5,A,America/New_York
18435,LGA,2013,2,12,20,39.92,23.00,50.46,290.0,10.35702,...,10.0,2013-02-13T01:00:00Z,LGA,La Guardia,40.777245,-73.872608,22,-5,A,America/New_York
18436,LGA,2013,2,12,21,39.02,21.92,49.93,310.0,10.35702,...,10.0,2013-02-13T02:00:00Z,LGA,La Guardia,40.777245,-73.872608,22,-5,A,America/New_York
18437,LGA,2013,2,12,22,39.02,23.00,52.26,310.0,11.50780,...,10.0,2013-02-13T03:00:00Z,LGA,La Guardia,40.777245,-73.872608,22,-5,A,America/New_York
18438,LGA,2013,2,12,23,37.94,23.00,54.51,300.0,9.20624,...,10.0,2013-02-13T04:00:00Z,LGA,La Guardia,40.777245,-73.872608,22,-5,A,America/New_York

<h1> The windiest airport on February 12, 2013 in NY was Newark Liberty Airport</h1>

In [105]:
windynyc.nlargest(1,'wind_speed')

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,...,visib,time_hour,faa,name,lat,lon,alt,tz,dst,tzone
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,...,10.0,2013-02-12T08:00:00Z,EWR,Newark Liberty Intl,40.6925,-74.168667,18,-5,A,America/New_York